# Kotlin Multiplatform / Compose
*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.keystore
*.jks

# iOS
*.xcworkspace
Pods/
DerivedData/
*.ipa

# Logs
*.log
